<div class="container-fluid">

  

    <div class="row bg-secondary d-flex align-items-center">
      <div class="col-md-6">

        <div class="row d-flex justify-content-center">
          <div class="col-md-6 text-white">
            <h1 class="fs-54">Seja bem vindo(a)! {{nome}}</h1>
            <h5 class="fs-18">Essa é a nossa loja online da Blinders Store</h5>
          </div>
        </div>
  
        <div *ngIf="authService.adm()" class="row d-flex justify-content-center">
          <div class="col-md-6 text-white">
            <!-- <h1 class="fs-54">Seja bem vindo(a)!</h1> -->
            <h1  class="fs-54" style="color: orangered;">Olá Admnistrador</h1>
            <!-- <h5 class="fs-18">Essa é a nossa loja online da Blinders Store</h5> -->
          </div>
        </div>

        <div *ngIf="authService.estoquista()" class="row d-flex justify-content-center">
          <div class="col-md-6 text-white">
            <!-- <h1 class="fs-54">Seja bem vindo(a)!</h1> -->
            <h1  class="fs-54" style="color: cornflowerblue;">Olá Estoquista</h1>
            <!-- <h5 class="fs-18">Essa é a nossa loja online da Blinders Store</h5> -->
          </div>
        </div>


  
        <div class="row d-flex justify-content-center mt-3 mb-5">
          <div class="col-md-6">
             <button  *ngIf="authService.adm() || authService.estoquista()" class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Inserir Produto</button>
            <a class="btn btn-outline-light" href="#postagens">Ver Produtos</a>
          </div>
        </div>
  
      </div>
  
  
      <div class="col-md-6 d-flex justify-content-center">
        <img src="https://i.imgur.com/H88yIo2.png" alt="" width="500px" height="500px">
      </div>
    </div>
  
  </div>
  
  <div class="container mb-5 mt-5" id="postagens">
  
    <!-- <nav *ngIf='listaPostagens.length != 0'> -->
    <nav >
      <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
  
        <a class="nav-item nav-link active text-secondary font-weight-bold"
          id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab"
          aria-controls="nav-todasPostagens" aria-selected="true">Todas os produtos</a>
  
  
          <!-- <a (click)='findByIdUser()'
          class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab"
          href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas
          Postagens</a> -->
  
        <a class="nav-item nav-link text-secondary font-weight-bold"
          id="nav-postagemTema-tab" data-toggle="tab" href="#postagemTema" role="tab" aria-controls="nav-postagemTema"
          aria-selected="false">pesquisa por tipo</a>
  
      </div>
    </nav>
  
    <!-- <h2 *ngIf='listaPostagens.length == 0' class="text-center text-secondary mt-5">
      Não existem postagens ainda...
    </h2> -->
  
    <div class="tab-content mt-5" id="nav-tabContent">
  
      <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
  
        <div class="row d-flex justify-content-center mt-5 mb-5">
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control" id="titulo" placeholder="Digite o nome de um produto para pesquisar" [(ngModel)]='tituloPost' (keyup)='findByTituloProduto()'>
            </div>
          </div>
        </div>
  
        <div class="card-columns">
          <div class="card text-center"
          *ngFor='let produto of listaProdutos | orderBy : key : reverse; let i = index' id="idPost">
            <div class="card-body">
              <h5 class="card-title m-0" style="color: orangered;">{{produto.nome}}</h5>
              <!-- <small class="text-muted"> Tipo: {{item.tema.descricao}}</small> -->
              <img src="{{produto.imagem}}" alt="Imagem do user" width="80px" height="70px" class="img-fluid rounded float">
              <!-- <p class="card-text mt-3">{{item.ativo}}</p> -->
              <p class="card-text" style="color: green;font-weight: bold;"><small >R$: {{produto.preco}}</small></p>
              <!-- <p class="card-text"><small class="text-muted">Quantidade: {{item.qtd}}</small></p>
              <p class="card-text"><small class="text-muted">Descrição {{item.descricao}}</small></p> -->
              <button mat-button color="warn"  data-toggle="modal" data-target="#detalhes" (click)="selecionarProduto(produto)" >Detalhes</button>
              <button mat-button color="warn"  class="btn btn-outline-info border-0 mb-2 " id="botao " (click)="adicionarAoCarrinho(produto)">Adicionar ao carrinho</button>
      
            </div>
          </div>
        </div>
        <!--  -->
     <div>
       
     </div>
        <!--  -->
  
      </div>
  
      <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">


        <div class="card-columns">
          <div class="card text-center" *ngFor='let item of user.produto | orderBy : key : reverse'>
            <div class="card-body">
              <!-- <h5 class="card-title m-0">{{item.titulo}}</h5> -->
              <small class="text-muted"> Tema: {{item.tema.descricao}}</small>
              <p class="card-text mt-3">{{item.texto}}</p>
              <p class="card-text"><small class="text-muted">
                  {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
                </small></p>
  
              <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">Editar</a>
              <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>
  
            </div>
          </div>
        </div>
  
      </div>
  
      <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">
  
        <div class="row d-flex justify-content-center">
          <div class="col-md-4">
  
            <div class="form-group mb-5">
              <input type="text" class="form-control" id="tituloPesquisa" placeholder="Digite um tema para pesquisar" [(ngModel)]='nomeTema' (keyup)='findByNomeTema()'>
            </div>
  
          </div>
        </div>
  
        <div class="card-columns" *ngFor='let tema of listaTemas'>
          <div class="card text-center" *ngFor='let item of tema.produto | orderBy : key : reverse'>
            <div class="card-body">
              <h5 class="card-title m-0">{{item.nome}}</h5>
              <img src="{{item.imagem}}" alt="Imagem do user" width="80px" height="70px" class="img-fluid rounded-circle">
              <p class="card-text mt-3" style="color: orangered;">{{tema.descricao}}</p>
              <p class="card-text"><small class="text-muted">
               R$ {{item.preco}}
                </small></p>
                <p class="card-text"><small class="text-muted">
                  Quantidade: {{item.qtd}}
                   </small></p>
              <p class="card-text"><small class="text-muted">
                  {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
                </small></p>
  
             
  
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  </div>
  
  
  
  
  
  <!-- Modal Inserir Produto -->
  <div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          

         
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Nome</mat-label>
              <input matInput name="nome" [(ngModel)]='postagem.nomeProduto' type="text" id="titulo"
              placeholder="Digite o Nome">
            </mat-form-field>
          </div> 
        
          

          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Descrição</mat-label>
              <input matInput name="descricao"  [(ngModel)]='postagem.descricao' type="text" id="descricao"
              placeholder="Digite a Descrição">
            </mat-form-field>
          </div> 

          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Ativo/Inativo</mat-label>
              <select matNativeControl  [(ngModel)]='postagem.ativo' id="ativo">  
                <option name="ativo" value="ativo">Ativo</option>
                <option name="inativo"value="inativo">Inativo</option>
              </select>
            </mat-form-field>
          </div> 


          <div class="form-group">
            <mat-form-field appearance="fill" floatLabel="always">
              <mat-label>Preço</mat-label>
              <input matInput type="number" class="example-right-align" name="preco" [(ngModel)]='postagem.preco'  id="valor"
              placeholder="0">
              <span matPrefix>R$&nbsp;</span>
              <span matSuffix>.00</span>
            </mat-form-field>
          </div>


          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Quantidade</mat-label>
              <input matInput name="quantidade"  [(ngModel)]='postagem.qtd' type="number" id="quantidade"
              placeholder="Digite a Quantidade" maxlength="3" min="0" max="100">
            </mat-form-field>
          </div> 

          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Imagem</mat-label>
              <input matInput name="imagem"  [(ngModel)]='postagem.imagem' type="text" id="imagem"
              placeholder="URL da Imagem">
            </mat-form-field>
          </div> 

      

          <div class="form-group">
            
            <mat-label for="texto">Escolha um tipo de produto ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>:
            </mat-label>
            <select name="tema" id="tema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema()'>
              <option *ngFor='let item of listaTemas' value="{{item.id}}">
                {{item.descricao}}
              </option>
            </select>
          </div>
  
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Inserir</button>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Modal Detalhes -->
  <div class="modal fade" id="detalhes" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="TituloModalCentralizado" style="font-weight: bold; color: orangered;">Detalhes</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
          
        <div class="modal-body">
          
 
          
            <div class="card text-center">
            <div class="card-body" id="detalhesModalBody"  >
              <h2 class="card-title m-0" style="color: orangered;">{{produtoSelecionado.nomeProduto}}</h2>
             
              <img src="{{produtoSelecionado.imagem}}" alt="Imagem do user" width="80px" height="70px" class="img-fluid rounded float"> 
              <p class="card-text">Status:<small  style="color: orangered;"> {{produtoSelecionado.ativo}}</small></p>
              <p class="card-text">R$:<small  style="color: orangered;"> {{produtoSelecionado.preco}}</small></p>
              <p class="card-text">Quantidade Disponível:<small  style="color: orangered;"> {{produtoSelecionado.qtd}}</small></p>
              <p class="card-text">Descrição:<small  style="color: orangered;"> {{produtoSelecionado.descricao}}</small></p>
              
            </div>
            <div class="estrelas">
              <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
              <label for="cm_star-1"><i class="fa"></i></label>
              <input type="radio" id="cm_star-1" name="fb" value="1"/>
              <label for="cm_star-2"><i class="fa"></i></label>
              <input type="radio" id="cm_star-2" name="fb" value="2"/>
              <label for="cm_star-3"><i class="fa"></i></label>
              <input type="radio" id="cm_star-3" name="fb" value="3"/>
              <label for="cm_star-4"><i class="fa"></i></label>
              <input type="radio" id="cm_star-4" name="fb" value="4"/>
              <label for="cm_star-5"><i class="fa"></i></label>
              <input type="radio" id="cm_star-5" name="fb" value="5"/>
            </div>
          </div>

          
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
          <!-- <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Inserir</button> -->
        </div>
      </div>
    </div>
  </div>