<div class="container mt-5 mb-5">

    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-secondary">Atualizar Endereço</h1>
      </div>
    </div>
  
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
  
        <div class="form-group">
            <input [(ngModel)]='endereco.cep' type="text" class="form-control" id="cep" placeholder="CEP">
          </div>
          
          <div class="form-group">
              <input [(ngModel)]='endereco.endereco' type="text" class="form-control" id="endereco" placeholder="Endereço">
            </div>

            <div class="form-group">
              <input [(ngModel)]='endereco.bairro' type="text" class="form-control" id="bairro" placeholder="Digite o bairro">
            </div>

            <div class="form-group">
              <input [(ngModel)]='endereco.numero' type="number" class="form-control" id="numero" placeholder="Digite o numero">
            </div>

            <div class="form-group">
              <input [(ngModel)]='endereco.cidade' type="text" class="form-control" id="cidade" placeholder="Digite a cidade">
            </div>

            <div class="form-group">
              <input [(ngModel)]='endereco.estado' type="text" class="form-control" id="estado" placeholder="Digite o estado">
            </div>
  
        <div class="d-flex justify-content-center">
          <button class="btn btn-danger mr-4" routerLink='/endereco' >Cancelar</button>
          <button class="btn btn-success" (click)='atualizar()'>Atualizar</button>
        </div>
  
      </div>
    </div>
  
  </div>
