

<!-- 
PARALLAX DESKTOP -->
<div>
  <div class="parallax1 mt-5"></div>
</div>
<!-- PASSO A PASSO DA COMPRA E CHEGADA DO PRODUTO -->
<div class="container-ls m-5">
  <div class="row">
      <div class="col col-md-6 col-lg-3 d-flex justify-content-around">
          <div class="card border-0 mx-auto" style="width: 15rem;">
              <img src="https://i.imgur.com/lUXYNKE.png" class="img-fluid imagens-card" style="border-radius: 60%;" alt="..." />
              <div class="card-body align-center">
                  <p class="card-title text-center font-weight-bold">CADASTRO</p>
                  <p class="card-text text-center">
                      Faça o seu cadastro e tenha acesso a promoções imperdíveis
                  </p>
              </div>
          </div>
      </div>

      <div class="col col-md-6 col-lg-3 border-0 d-flex justify-content-around">
          <div class="card border-0 mx-auto" style="width: 15rem;">
              <img src="https://i.imgur.com/tRawFyr.png" class="img-fluid imagens-card" style="border-radius: 60%;" alt="..." />
              <div class="card-body align-center">
                  <p class="card-title text-center font-weight-bold">MONTE SEU CARRINHO</p>
                  <p class="card-text text-center">
                      Escolha os melhores produtos e aproveite !!
                  </p>
              </div>
          </div>
      </div>

      <div class="col col-md-6 col-lg-3 border-0 d-flex justify-content-around">
          <div class="card border-0 mx-auto" style="width: 15rem;">
              <img src="https://i.imgur.com/cw9HbrT.png" class="img-fluid imagens-card" style="border-radius: 60%;" alt="..." />
              <div class="card-body align-center">
                  <p class="card-title text-center font-weight-bold">ENTREGA</p>
                  <p class="card-text text-center">Escolha a melhor forma de entrega para você.
                      <br> Envio rápido e sem estresse!</p>
              </div>
          </div>
      </div>

      <div class="col col-md-6 col-lg-3 border-0 d-flex justify-content-around">
          <div class="card border-0 mx-auto" style="width: 15rem;">
              <img src="https://i.imgur.com/Fgk8Poq.png" class="img-fluid imagens-card" style="border-radius: 60%;" alt="..." />
              <div class="card-body align-center">
                  <p class="card-title text-center font-weight-bold">SUA ENCOMENDA CHEGOU</p>
                  <p class="card-text text-center">
                     Eba! Aproveite seus produtos e envie seu feedback para a gente!
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container-ls">
  <div class="parallax1 mt-5"></div>
</div>
<!-- PARALLAX MOBILE RESPONSIVO -->
<div class="container-ls">
  <div class="parallax1Responsivo"></div>
</div>

